{% extends 'base_movie.html' %}
{% load static %}
{% block title %} {{ movie.title }} {% endblock title %}
{% block container %}
    <div class="container py-md-3">
{% endblock container %}


{% block movie %}
<div class="side-bar col-lg-3">
    {% include 'include/sidebar.html' %}
</div>
    <div class="left-ads-display col-lg-8">
        <div class="row">
            <div class="desc1-left col-md-6">
                <img src="{{ movie.poster.url }}">
            </div>
            <div class="desc1-right col-md-6 pl-lg-4">
                <h5 class="editContent" style="outline: none; cursor: inherit;color:#000000;">
                    <b>{{ movie.title }}</b>
                </h5>
                <h5 class="editContent"></h5>
                <ul>
                    <li style="color:#000000">
                        <span><b>Год:</b> {{ movie.year }}</span></li>
                    <li style="color:#000000">
                        <span><b>Страна:</b> {{ movie.country }}</span>
                    </li>
                    <li style="color:#000000">
                        <span><b>Слоган:</b> {{ movie.tagline }}</span>
                    </li>
                    <li style="color:#000000"><span><b>Режиссер:</b>{{ movie.directors }}</span>
                    </li>
                    <li style="color:#000000"><span><b>Актеры:</b>{{ movie.actors }}</span>
                    </li>
                    <li style="color:#000000"><span><b>Жанр:</b>
                        {% for genre in movie.genres.all %}
                        {{ genre.name }}
                        {% endfor %}</span>
                    </li>
                    <li style="color:#000000">
                        <span><b>Премьера в мире:</b> {{ movie.world_premiere }}</span>
                    </li>
                    <li style="color:#000000">
                        <span><b>Бюджет:</b> ${{ movie.budget }}</span></li>
                    <li style="color:#000000">
                        <span><b>Сборы в США:</b> ${{ movie.fees_in_usa }}</span></li>
                    <li style="color:#000000">
                        <span><b>Сборы в мире:</b> ${{ movie.fess_in_world }}</span>
                    </li>
                    
                    <form action="{% url 'add_desired' movie.id %}" method="POST" class="mt-4">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-dark">
                            <big style="color:#ff4c4c">Посмотреть позже</big>
                        </button>
                    </form>
            </div>
        </div>
        <div class="row sub-para-w3layouts mt-5">

            <h3 class="shop-sing editContent" style="color:#000000" style="outline: none; cursor: inherit;">
                О фильме {{ movie.title }}
            </h3>
            <p class="editContent" style="outline: none; cursor: inherit;">
                {{ movie.description|safe }}
            </p>
        </div>
        <hr>
        {% include 'reviews.html' %}
    </div>
</div>
{% endblock movie %}
