{% load static %}
<header class="header">
    <div class="container-fluid px-lg-5">
        <!-- nav -->
        <nav class="py-4">
            <div id="logo">
                <h1>
                    <a href="{% url 'home'%}" class="editContent"
                       style="outline: none; outline-offset: -2px; cursor: inherit; color: #ff4c4c; font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: Source Sans Pro;">MySite</a>
                </h1>
            </div>

            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop">
            <form action="{% url 'filter' %}" method="get" name="filter"></form>
            <ul class="menu mt-2">
                <li class="active"><a href="{% url 'home'%}">Главная</a></li>
                <li class="active"><a href="{% url 'random_movie'%}">Случайный</a></li>
                <li class="active"><a href="{% url 'last_movie'%}">Новинки на сайте</a></li>
                {% if user.is_authenticated %}
                <li class="active"><a href="{% url 'movie_desired'%}">Посмотреть позже</a></li>
                <li>
                    <a href="{% url 'logout' %}"
                      style="color: #ff4c4c">
                        {{ user.username }}
                    </a>
                    <a href="{% url 'logout' %}"
                      style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                        Выход
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}"
                      style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                        Вход
                    </a>
                    <a href="{% url 'register' %}"
                        style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                        Регистрация
                    </a>
                </li>
                {% endif %}
            </ul>
        </form>
        </nav>
        <!-- //nav -->
    </div>
</header>
<!-- //header -->
<!--/banner-->
<body>

  <div  class="slider">
    <div class="slider__wrapper">
      <div class="slider__item">
        <div style="height: 500px;">
          <li class="image">
            <a href="{% url 'last_movie'%}">
              <img src="{% static 'images/5.jpg' %}">
              <h2 style="outline: none; outline-offset: -2px; cursor: inherit; color: #ff4c4c; font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: Source Sans Pro;" >Новинки кинопроката</h2>
            </a>
          </li>
        </div>
      </div>
      <div class="slider__item">
        <div style="height: 500px;">
          <li class="image">
            <a href="{% url 'last_movie'%}">
              <img src="{% static 'images/2.jpg' %}">
              <h2 style="outline: none; outline-offset: -2px; cursor: inherit; color: #ff4c4c; font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: Source Sans Pro;" >Все о фильмах</h2>
            </a>
          </li>
        </div>
      </div>
      <div class="slider__item">
        <div style="height: 500px;">
            <li class="image">
              <a href="{% url 'last_movie'%}">
                <img src="{% static 'images/3.jpg' %}">
                <h2 style="outline: none; outline-offset: -2px; cursor: inherit; color: #ff4c4c; font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: Source Sans Pro;" >Лучший сайт о фильмах</h2>
              </a>
            </li>
        </div>
      </div>
    </div>
    <a class="slider__control slider__control_left" href="#" role="button"></a>
    <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
  </div>
  
  <script src="{% static 'js/slider.js' %}"></script>

</body>
<!--// banner-inner -->
