<header class="header">
    <div class="container-fluid px-lg-5">
        <!-- nav -->
        <nav class="py-4">
            <div id="logo">
                <h1><a href="index.html" class="editContent"
                       style="outline: none; outline-offset: -2px; cursor: inherit; color: rgb(252, 252, 252); font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: Source Sans Pro;">MySite</a>
                </h1>
            </div>

            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop">
            <form action="{% url 'filter' %}" method="get" name="filter"></form>
            <ul class="menu mt-2">
                <li class="active"><a href="{% url 'home'%}">Главная</a></li>
                <li class="active"><a href="{% url 'movie_desired'%}">Посмотреть позже</a></li>
                <li>
                    {% if user.is_authenticated %}
                        <span>{{ user.username }}</span>
                        <a href="{% url 'logout' %}"
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            Выход
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}"
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            Вход
                        </a>
                         <a href="{% url 'register' %}"
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            Регистрация
                        </a>
                    {% endif %}
                </li>
            </ul>
        </form>
        </nav>
        <!-- //nav -->
    </div>
</header>
<!-- //header -->
<!--/banner-->
<div class="banner-info">
    <p class="editContent">лучший сайт на django 3</p>
    <h3 style="color:#000000" class="mb-4 editContent">Все о кино</h3>
    <div class="ban-buttons">


    </div>
</div>
<!--// banner-inner -->
